{% extends 'base.html' %}

{% block pageheading %}

{% endblock %}

{% block main %}
    <div class="searchbar">
                <form method="POST" action="/search">
                <input type="text" name="search" id="search">
                <input type="submit" value="Search">
                </form>
              </div>
<h2> {{ title }} </h2>

    <div class="sidebar">
        <p>Categories</p>
        {% for category in categories %}
            <ul id="sidebar-links">

                <li> <a href="/category/{{ category[0] }}">{{ category[1] }}</a> </li>
            </ul>
        {% endfor %}
    </div>
    <div class="content">
    <table class="list">

        <tr>
            <th style="width:35%">Maori Word</th>
            <th style="width:35%">English Translation</th>
            <th style="width:15%">Level</th>
            <th style="width:15%">Category</th>

        </tr>


          {% for id in word %}
         <tr>
        <td>{{ id[1] }}</td>
        <td><a href="/word_detail/{{ id[0] }}">{{ id[2] }}</a></td>
        <td>{{ id[4] }}</td>
        <td>{{ id[5] }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <script src="script.js"></script>


{% endblock %}

