{% extends 'base.html' %}

{% block pageheading %}

{% endblock %}

{% block main %}
    <div class="category-menu">
        {% for category in categories %}
        <div class="category-item"><h2><a href="/category/{{ category[0] }}">{{ category[1] }}</a></h2></div>
        {% endfor %}
    </div>

    <div class="content">
        {% for id in word %}

        <article class="content-item">
                <td class="thumb"><img src="/static/images/{{ id[4] }}.jpg" alt="Word photo {{ id[4] }}"></td>
                <p><strong>Maori:</strong> {{ id[0] }}</p>
                <p><strong>English:</strong> {{ id[1] }}</p>
                <p><strong>definition:</strong> {{ id[2] }}</p>
        </article>
        {% endfor %}

    </div>
{% endblock %}