{% extends 'base.html' %}

{% block pageheading %}

{% endblock %}

{% block main %}
    <div class="category-menu">
        {% for category in categories %}
        <div class="category-item"><h2><a href="/category/{{ category[0] }}">{{ category[1] }}
         </a></h2></div>
        {% endfor %}
    </div>

    <div class="products">
        {% for id in word %}
        <div class="product-box">
            <div class="product-box-heading">
                <h2><a href="/"{{ id[1] }}</h2>
            </div>
            <div class = "product-box-image">
                <img src ="/static/images/{{ id[4] }}.jpg">
            </div>
            <div class="product-box-info">
                <p><strong>English:</strong> {{ id[1] }}</p>
                <p><strong>Maori:</strong> {{ id[0] }}</p>
            </div>

    </div>
    {% endfor %}

{% endblock %}

