{% extends "base.html" %}
<!-- This template extends the base.html template -->

{% block pageheading %}
Confirm Delete
<!-- Page heading for confirmation of delete -->
{% endblock %}

{% block main %}
<!-- Main content block -->

    <h3>Are you sure you want to delete {{ type }} {{ name }}?
    <!-- Confirmation message with dynamic content -->
        <a href="/delete_{{ type }}_confirm/{{ id }}">Yes</a> /
        <!-- Link to confirm delete -->
        <a href="/admin">No</a>
        <!-- Link to cancel delete and go back to admin -->
    </h3>
{% endblock %}
<!-- End of main content block -->
