{% extends "base.html" %}
<!-- This template extends the base.html template -->

{% block pageheading %}
<!-- Page heading block -->
{% if word_detail == None %}
    Add
{% else %}
    Edit
{% endif %}
<!-- Conditional block to determine if adding or editing a word -->
word
<!-- Static text for the page heading -->
{% endblock %}

{% block main %}
<!-- Main content block -->

<form class="myform" method="post" action="/edit/{{ word_id }}" >
    <!-- Form for editing a word; sends POST request to /edit/{{ word_id }} -->
    <div class="form-group">
        <!-- Grouping for Maori word input -->
        <div class="form-label"><label for="Maori"> Maori word name</label> </div>
        <!-- Label for Maori word input -->
        <div class="form-element"><input type="text" name="Maori" id="Maori"  maxlength="100"{% if word_detail != None %} value="{{ word_detail[0] }}" {% endif %} required></div>
        <!-- Input field for Maori word name; pre-filled -->
    </div>
    <div class="form-group">
        <!-- Grouping for English word input -->
        <div class="form-label"><label for="English"> English word name</label> </div>
        <!-- Label for English word input -->
        <div class="form-element"><input type="text" name="English" id="English"  maxlength="100" {% if word_detail != None %} value="{{ word_detail[1] }}" {% endif %} required></div>
        <!-- Input field for English word name; pre-filled -->
    </div>
    <div class="form-group">
        <!-- Grouping for word definition input -->
        <div class="form-label"><label for="Definition"> Word definition</label> </div>
        <!-- Label for word definition input -->
        <div class="form-element"><input type="text" name="Definition" id="Definition"  maxlength="100" {% if word_detail != None %} value="{{ word_detail[2] }}" {% endif %} required></div>
        <!-- Input field for word definition; pre-filled -->
    </div>
    <div class="form-group">
        <!-- Grouping for word level input -->
        <div class="form-label"><label for="level"> Word level</label> </div>
        <!-- Label for word level input -->
        <div class="form-element"><input type="number" name="level" id="level" min="1" max="10"{% if word_detail != None %} value="{{ word_detail[3] }}" {% endif %} required></div>
        <!-- Input field for word level; pre-filled -->
    </div>
    <div class="form-group">
        <!-- Grouping for category selection -->
        <div class="form-label"><label for="cat_id">Category Name:</label></div>
        <!-- Label for category selection -->
        <div class="form-element">
            <select id="cat_id" name="cat_id">
                <!-- Dropdown to select category -->
                {% for category in categories %}
                    <option value="{{ category[0] }}" {% if word_detail != None and word_detail[4] == category[0] %}selected{% endif %}>{{ category[1] }}</option>
                    <!-- Option for each category; selected if editing and category matches -->
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <!-- Grouping for submit button -->
        <div class="form-label"></div>
        <div class="form-button"><input type="submit" value="{% if word_detail == None %}Add{% else %}Edit{% endif %} Word"></div>
        <!-- Submit button for adding or editing a word -->
    </div>
</form>
{% endblock %}
<!-- End of the main content block -->
