{% extends 'base.html' %}
{% block pageheading %}
{% endblock %}
{% block main %}
   <div class="sidebar">
        <p>Categories</p>
        {% for category in categories %}
            <ul id="sidebar-links">
                <li> <a href="/category/{{ category[0] }}">{{ category[1] }}</a> </li>
            </ul>
        {% endfor %}
    </div>
    <div class="content">
    <table class="info">
    <tr class="header">
    {% for id in wordinfo %}
        <td style="width:25%">Maori Word</td>
        <td style="width:25%">English Translation</td>
        <td style="width:25%">Category</td>
        <td style="width:25%">Level</td>
    </tr>
    <tr>
        <td>{{ id[1] }}</td>
        <td>{{ id[2] }}</td>
        <td>{{ id[6] }}</td>
        <td>{{ id[4] }}</td>
    </tr>
    <tr class="header">
        <td colspan="4">Definition</td>
    </tr>
    <tr>
        <td colspan="4">{{ id[3] }}</td>
    </tr>
    <tr class="header">
        <td colspan="4">Image</td>
    </tr>
    <tr>
        <td colspan="4">
            <img src="/static/images/{{ id[5] }}.jpg">
        </td>
    </tr>
    <tr class="header">
        <td colspan="4">Last modified by</td>
    </tr>
    <tr>
        <td colspan="4">{{ id[7] }}</td>
    </tr>
    <tr class="header">
        <td colspan="4">Last modified by</td>
    </tr>
    <tr>
        <td colspan="4">{{ id[8] }}</td>
    </tr>
    <tr class="header">
        <td colspan="4">Modification</td>
    </tr>
    <tr>
        <td colspan="4"><a href="/edit/{{ id[0] }}">Edit </a> </td>
    </tr>
        <tr>
        <td colspan="4"> <form action="/delete_word/{{ id[0] }}" method="GET" class="inline-form">
            <button type="submit" class="link-button">Delete Word</button>
        </form> </td>
        </tr>


    </div>


    {% endfor %}
{% endblock %}

