{% extends 'base.html' %}

{% block pageheading %}

{% endblock %}

{% block main %}

    <div class="products">
        {% for id in wordinfo %}
        <div class="product-box">
            <div class="product-box-heading">
                <h2><a href="/word_detail/{{ id[0] }}">{{ id[2] }}</a></h2>
            </div>
            <div class = "product-box-image">
                <img src ="/static/images/{{ id[5] }}.jpg">
            </div>
            <div class="product-box-info">
                <p><strong>English:</strong> {{ id[2] }}</p>
                <p><strong>Maori:</strong> {{ id[1] }}</p>
                <p><strong>Definition:</strong> {{ id[3] }}</p>
                <p><strong>Level:</strong> {{ id[4] }}</p>

            </div>

    </div>
    {% endfor %}

{% endblock %}

